* {
    font-family: "Roboto", sans-serif;
}

.hero, header, footer {
    background-color: #1F2937;
}

.mid {
    background-color: #E5E7EB;
}

.bot, button {
    background-color: #3882F6;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 128px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.hero-image {
    flex: 1 1 300px;
    min-width: 0;
    max-width: 300px;
    max-height: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-sub, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}