* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero, header, footer {
    background-color: #1F2937;
}

.mid {
    background-color: #E5E7EB;
}

.bot, button {
    background-color: #3882F6;
}

header {
    display: flex;
    justify-content: center;
    gap: 256px;
    padding: 32px 128px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
    padding: 64px 128px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 450px;
    min-height: 400px;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    flex: 1;
    max-height: 400px;
    max-width: 300px;
}

.hero-image {
    flex: 0 1 300px;
    min-width: 0;
    max-width: 300px;
}

.hero-main {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-sub, .header-links, button {
    font-size: 18px;
    color: #E5E7EB;
}

.top{
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
}

.top-text {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.top-img-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.single-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-img {
    flex: 0 1 300px;
    max-width: 200px;
    max-height: 300px;
}

.top-caption {
    max-width: 200px;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 128px;
}
.quote {   
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    max-width: 896px;
}

.quotee-container {
    align-self: stretch;
    display: flex;
    justify-content: center;
}
.quotee {
    flex: 0 1 896px;
    font-size: 28px;
    color: #1F2937;
    text-align: right;
}

.bot {
    display: flex;
    justify-content: center;
    gap: 256px;
}

.bot-text {
    display: flex;
    flex-direction: column;
}